{{#if this.isDefault}}
  <trix-toolbar
    data-test-trix-toolbar
    data-test-trix-toolbar-default
    id="{{@toolbarId}}"
    {{will-destroy this.teardown}}
    ...attributes />
{{else}}
  <trix-toolbar
    data-test-trix-toolbar
    data-test-trix-toolbar-custom
    id="{{@toolbarId}}"
    {{will-destroy this.teardown}}
    ...attributes>
    {{#each this.toolbarButtonsData as |_button|}}
      <button
        data-test-trix-toolbar-button
        type="button"
        class="trix-next-button trix-next-button--{{_button.id}}"
        data-trix-attribute={{if (equal _button.type 'attribute') _button.id null}}
        data-trix-action={{if (equal _button.type 'action') _button.id null}}
        data-trix-key="{{_button.key}}"
        title="{{_button.title}}"
      >
        {{_button.title}}
      </button>
    {{/each}}

    {{yield}}

    <div class="trix-dialogs" data-test-trix-dialogs>
      <div class="trix-dialog trix-dialog--link" data-trix-dialog="href" data-trix-dialog-attribute="href">
        <div class="trix-dialog__link-fields">
          <input type="url" name="href" class="trix-input trix-input--dialog" placeholder="Enter a URL…" aria-label="URL" required="" data-trix-input="" disabled="disabled">
          <div class="trix-button-group">
            <input type="button" class="trix-button trix-button--dialog" aria-label="set attribute" value="Link" data-trix-method="setAttribute">
            <input type="button" class="trix-button trix-button--dialog" aria-label="remove attribute" value="Unlink" data-trix-method="removeAttribute">
          </div>
        </div>
      </div>
    </div>
  </trix-toolbar>
{{/if}}

