{{#if this.isDefault}}
  <trix-toolbar
    data-trix-toolbar
    data-trix-toolbar-default
    id="{{@toolbarId}}"
    ...attributes />
{{else}}
  <trix-toolbar
    data-trix-toolbar
    data-trix-toolbar-custom
    id="{{@toolbarId}}"
    ...attributes>
    {{#each this.toolbarButtonsData as |_button|}}
      <button
        data-trix-toolbar-button
        type="button"
        class="trix-next-button trix-next-button--{{_button.id}}"
        data-trix-attribute={{if (equal _button.type 'attribute') _button.id null}}
        data-trix-action={{if (equal _button.type 'action') _button.id null}}
        data-trix-key="{{_button.key}}"
        title="{{_button.title}}"
      >
        {{_button.title}}
      </button>
    {{/each}}

    {{yield}}

    <div class="trix-dialogs" data-trix-dialogs=""></div>
  </trix-toolbar>
{{/if}}

